/* código original Matias */
.fader {
  width: 30px;
  height: 300px;
  writing-mode: bt-lr;
  /* -webkit-appearance: slider-vertical;
  appearance: slider-vertical; */
}
/* .vumeter {
  width: 30px;
  height: 100px;
  background-color: #ddd;
  margin: 10px 0;
  position: relative;
} */
.vu-fill {
  height: 0;
  width: 100%;
  background-color: #4CAF50;
}
 /* HASTA AQUI */


/* Vumeter */
 #trackOneVu {
  display: grid;
  width: 50px;
  height: 350px;
  grid-template-rows: 2fr 1fr;
  align-items: end;
  padding: 1em;
  border-radius: 0.3em;
  background: #fee6;
  box-shadow: 0 0.25em 0.5em #1006;
 }

 #trackTwoVu {
  display: grid;
  width: 50px;
  height: 350px;
  grid-template-rows: 2fr 1fr;
  align-items: end;
  padding: 1em;
  border-radius: 0.3em;
  background: #fee6;
  box-shadow: 0 0.25em 0.5em #1006;
 }

 /* Buttons Play-Pause */
#playButton {
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color:#00ff08;
}

#playButton:hover {
  box-shadow: 0 0 25px 10px #5bff60;
}

 #pauseButton {
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color:#0026ff;
}

#pauseButton:hover {
  box-shadow: 0 0 25px 10px #6f84ff;
}

/* Library */
#library {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(255, 0, 221);
}