.baumans-regular {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-style: normal;
  }

#binaurappLogoName {
    color: #c8f560;
    font-family: "Baumans-Regular", Helvetica;
    font-size: 32px;
}

#binauralLogo {
    /* color: #7862F8; */
    height: 10%;
    width: 10%;
}

#navbarText {
    font-family: "Baumans-Regular", Helvetica;
    font-size: 16px;
}