.player-section {
	padding: 57px 53px;
}

.player-box {
	padding: 77px 121px 100px 81px;
	border-radius: 24px;
	background: #fff;
}

.player-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wave-player-warp {
	padding-top: 40px;
	position: relative;
	width: calc(100% - 382px);
}

.tarck-thumb-warp {
	width: 382px;
}

.tarck-thumb {
	max-width: 333px;
	position: relative;
}

.tarck-thumb img {
	border-radius: 22px;
}

.tarck-thumb .wp-play {
	position: absolute;
	width: 70px;
	height: 70px;
	left: calc(50% - 35px);
	top: calc(50% - 35px);
	border: none;
	border-radius: 50%;
	color: #fc0254;
	background: #fff;
}

.tarck-thumb .wp-play:after {
	position: absolute;
	content: "";
	left: calc(50% - 6px);
	top: calc(50% - 8px);
	font: normal normal normal 18px/1 FontAwesome;
}

.playing .tarck-thumb .wp-play:after {
	position: absolute;
	content: "";
	left: calc(50% - 8px);
	font: normal normal normal 18px/1 FontAwesome;
}

.wave-player-info h2 {
	font-size: 48px;
	font-weight: 600;
}

.wave-player-info p {
	font-size: 14px;
}

.wavePlayer_controls {
	padding-top: 20px;
}

#wavePlayer {
	position: relative;
}

#currentTime {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	color: #0a183d;
	font-weight: 500;
	background: #fff;
	padding-right: 2px;
}

#clipTime {
	position: absolute;
	right: 10px;
	top: 59px;
	font-size: 14px;
	color: #b8b8b8;
	font-weight: 500;
}

.songs-details-section {
	padding: 100px 38px 50px;
	background: #f9fcfd;
}

.song-details-box {
	margin-bottom: 30px;
	overflow: hidden;
}

.song-details-box h3 {
	margin-bottom: 50px;
}

.song-details-box ul {
	list-style: none;
	max-width: 310px;
}

.song-details-box ul li {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 2;
}

.song-details-box ul strong {
	float: left;
	margin-right: 6px;
	font-weight: 600;
	color: #0a183d;
}

.song-details-box ul span {
	display: block;
	overflow: hidden;
	color: #6a7080;
}

.song-details-box .single_player_container {
	margin-top: 0;
	padding-left: 0;
}

.artist-details img {
	float: left;
	width: 163px;
	height: 163px;
	margin-right: 30px;
	border-radius: 50%;
}

.artist-details h5 {
	margin-bottom: 5px;
	padding-top: 10px;
}

.artist-details span {
	display: block;
	font-size: 12px;
	color: #c3c4c9;
	margin-bottom: 15px;
}

.artist-details .ad-text {
	overflow: hidden;
}

.song-details-box .song-info-box img {
	width: 60px;
	height: 60px;
	border-radius: 20px;
	margin-right: 13px;
}

.song-details-box .song-info-box .song-info {
	padding-top: 10px;
}

.song-details-box .song-info-box .song-info h4 {
	font-size: 14px;
}

.song-details-box .song-info-box .song-info p {
	font-size: 10px;
}

.song-details-box .song-item {
	margin-bottom: 22px;
}

.song-details-box .player_controls_box {
	width: 102px;
}

.song-details-box .player_button {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transform-origin: center;
	transform-origin: center;
	margin: 0 -5px;
}

.song-details-box .player_bars {
	width: calc(100% - 102px);
}

.song-details-box .single_player {
	padding: 14px 15px 0 0px;
}

.song-details-box .jp-current-time {
	font-size: 10px;
	right: -29px;
	padding-top: 9px;
}

.song-details-box .middle .jp-current-time {
	right: -5px;
	padding: 9px 5px 0;
}

.song-details-box .jp-duration {
	font-size: 10px;
	bottom: -6px;
}

.similar-songs-section {
	padding: 100px 33px;
}

.similar-songs-section h3 {
	margin-bottom: 70px;
	padding-left: 6px;
}

.similar-song {
	padding: 0 6px;
	margin-bottom: 35px;
}

.similar-song .ss-thumb {
	border-radius: 41px;
	margin-bottom: 22px;
	min-width: 100%;
}

.similar-song h4 {
	font-size: 20px;
	margin-bottom: 5px;
}

.similar-song p {
	font-size: 14px;
}

.similar-song .player_bars {
	width: 100%;
}

.similar-song .jp-current-time {
	padding-top: 10px;
}

.similar-song .jp-duration {
	bottom: -25px;
}

.ss-controls {
	padding: 15px 0 10px;
}

.ss-controls .songs-links {
	padding-top: 0;
	float: right;
}