.soundscape-welcome-section {
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7A7C0;
    background-image: url("https://live.staticflickr.com/5055/5502797659_2f597c26c3_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    max-height: 700px;
    min-height: 400px;
}

.soundscape-tm-tag-line {
    margin-bottom: 60px;
    position: relative;
    min-height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://t3.ftcdn.net/jpg/06/95/65/70/240_F_695657071_sHrpa1e8aifmMcfolXaTAi7yqTUpCwJf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.soundscape-tm-tag-line-title {
    font-size: 2rem;
    color:darkturquoise;
    position: relative;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}