.tutorial-welcome-section {
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7A7C0;
    background-image: url("https://t3.ftcdn.net/jpg/05/92/17/70/360_F_592177001_AfRPYr9bO7n64PqP7UjlaDRrXklYYmI3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    max-height: 700px;
    min-height: 400px;
}

.tutorial-tm-tag-line {
    margin-bottom: 60px;
    position: relative;
    min-height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://t4.ftcdn.net/jpg/06/10/34/13/240_F_610341363_3FbYVi4dZk20ETXzmHhe9cJetFB6XKw8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tutorial-tm-tag-line-title {
    font-size: 2rem;
    color:darkturquoise;
    position: relative;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}